body{
    min-height: 50rem;
    padding-top: 4.5rem;
}

a{
    color: #888;
}

.social-btn{
    background: rgba(255, 255, 255, 0);
    border:none;
}

.material-icons{
    vertical-align: middle;
}