<div class="container">
    <div class="row" style="margin-top: 10px;">
        <div class="col-10 text-left">
            <h3>Monitor de resultados</h3>
        </div>
        <div class="col-2 text-right">
            <a title="Restaurar anterior" class="btn btn-light"><i class="material-icons" ng-click="listBckps()">cloud_upload</i></a>
            <a title="Guardar y reiniciar" class="btn btn-light"><i class="material-icons" data-toggle="modal" data-target="#save-modal">cloud_download</i></a>
            <a title="Actualizar contadores" class="btn btn-light"><i class="material-icons" ng-click="updateStats()">cached</i></a>
        </div>
        
    </div>
    
    <div class="row" style="margin-top:20px">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-bottom">
                    <h5>Distribución de edades <sup><a ng-click="showHelp('ages-plot')" style="cursor: pointer;font-size: small;"><i class="material-icons">help</i></a></sup></h5>
                </div>  
                <div class="card-body">
                    <canvas id="age-chart" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px">
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header border-bottom">
                    <h5>Género <sup><a ng-click="showHelp('genders-plot')" style="cursor: pointer;font-size: small;"><i class="material-icons">help</i></a></sup></h5>
                </div>  
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="gender-chart" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header border-bottom">
                    <h5>Resultados <sup><a ng-click="showHelp('exitCodes-plot')" style="cursor: pointer;font-size: small;"><i class="material-icons">help</i></a></sup></h5>
                </div>  
                <div class="card-body">
                    <div class="chart-container">
                        <canvas id="exitCode-chart" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px; margin-bottom: 20px;">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-bottom">
                    <h5>Recorridos por árbol de decisiones <sup><a ng-click="showHelp('paths-plot')" style="cursor: pointer;font-size: small;"><i class="material-icons">help</i></a></sup></h5>
                </div>  
                <div class="card-body">
                    <div id="paths-container" style="height:500px"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="save-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Archivar estadística actual</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Se generará una copia de los datos actuales y se reiniciará la cuenta. Indique un nombre para recuperar el registro en otro momento:</p>
                <div class="form-group">
                    <label for="formGroupSave">Nombre</label>
                    <input type="text" class="form-control" id="formGroupSave" ng-model="backupName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-dark" ng-click="clearStats()">Continuar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="load-stats-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Restaurar contadores</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table table-responsive-sm table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Creación</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, backup) in backupList track by $index">
                                <th scope="row">{{$index+1}}</th>
                                <td data-title="Fecha y hora de creacion">
                                    {{backup.name}}
                                </td>
                                <td data-title="Fecha y hora de creacion">
                                    {{getTime(backup.timestamp)}}
                                </td>
                                <td>
                                    <a title="Restaurar" ng-click="restoreBackup(backup.key)" class="btn btn-sm btn-light">
                                        <i class="material-icons">open_in_browser</i>
                                    </a>
                                    <a title="Ver" ng-click="viewBackup(backup.key)" class="btn btn-sm btn-light">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                    <!--
                                    <a data-title="Eliminar" ng-click="deleteBackup(key)" class="btn btn-sm btn-light">
                                        <i class="material-icons">delete</i>
                                    </a>
                                    -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

