<div class="page">
    <div class="page-content">
        <div class="block-title">Contacto</div>
        <div class="block">
            <h5>Diseño e implementación</h5>
            Ing. Matías J. Micheletto
            <br>
            <a class="link external" href="https://matiasmicheletto.github.io">matiasmicheletto.github.io</a>
            <br>
            Email: <a class="link external" href="mailto:matias.micheletto@uns.edu.ar?Subject=Ref.%20Autotest-Creator">matias.micheletto@uns.edu.ar</a>
            <br>
            Documentación: <a class="link external" href="https://github.com/matiasmicheletto/autotest-creator">github.com/matiasmicheletto/autotest-creator</a></p>
        </div>
    </div>
</div>
