<div class="page">
    <div class="page-content">
        <div class="block-title">Contacto</div>
        <div class="block">
            
            <p>Información sobre el coronavirus, recomendaciones del Ministerio de Salud de la Nación y medidas de prevención.</p>

			<ul>
	            <li>0800 Salud Responde: <a href="tel:08002221002">0800-222-1002</a></li>
	            <li>Ciudad Autónoma de Buenos Aires: <a href="tel:107">107</a></li>
	            <li>Provincia de Buenos Aires: <a href="tel:148">148</a></li>
        	</ul>
        </div>
    </div>
</div>
