<div class="page">
    <div class="page-content">
        <div class="block-title">Contacto</div>
        <div class="block">
            
            <p>Información sobre el coronavirus, recomendaciones del <a class="link external" href="https://www.argentina.gob.ar/salud/coronavirus-COVID-19">Ministerio de Salud de la Nación</a> y medidas de prevención.</p>

			<ul>
	            <li>0800 Salud Responde: <a class="link external" href="tel:08002221002">0800-222-1002</a></li>
	            <li>Provincia de Buenos Aires: <a class="link external" href="tel:148">148</a></li>
        	</ul>
        </div>
    </div>
</div>
