<div class="page">
	<div class="page-content home-page">

		<div class="block">
			<h2>Complete sus datos personales</h2>
		</div>

		<form class="list" id="my-form">
			<ul>
				<li>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Nombre</div>
							<div class="item-input-wrap">
								<input type="text" name="name" placeholder="Su nombre completo" ng-model="userData.name">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Edad</div>
							<div class="item-input-wrap">
								<input type="number" name="age" placeholder="Edad" ng-model="userData.age">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">DNI/DU/LC/LE/PAS</div>
							<div class="item-input-wrap">
								<input type="number" name="dni" placeholder="Identidad" ng-model="userData.dni">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Teléfono</div>
							<div class="item-input-wrap">
								<input type="text" name="tel" placeholder="Tel" ng-model="userData.tel">
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item-content item-input">
						<div class="item-inner">
							<div class="item-title item-label">Género</div>
							<div class="item-input-wrap">
								<select name="gender" ng-model="userData.gender">
									<option value="m">Masculino</option>
									<option value="f">Femenino</option>
									<option value="n">Otro</option>
								</select>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</form>
		
		<div class="block">
			<div class="menu-btn-container row">
				<a href="#!/autotest" class="menu-btn button button-raised button-fill button-round {{formAllowed ? '':'disabled'}}" ng-click="checkForm()">
					Verificar
				</a>
			</div>
			<div class="menu-btn-container row">
				<a href="#!/autotest" class="link external menu-btn button button-raised button-fill button-round {{userAllowed ? '':'disabled'}}" style="background-color:darkgreen">
					Iniciar autotest
				</a>
			</div>
		</div>
	</div>
</div>