<div class="page">
    <div class="page-content home-page">
        
        <div class="row" style="margin-top: 10px">
			<div class="card">
				<div class="card-content card-content-padding">
					<h4 ng-if="current.header">{{current.header}}</h4>
					<div ng-if="current.content" ng-bind-html="current.content">
					</div>
				</div>
			</div>
		</div>

		<div class="block">
		
			<div class="menu-btn-container row" ng-repeat="(key, item) in current.options track by $index">
				
				<button ng-if="item.goto" class="menu-btn button button-raised button-fill button-round" 
					style="background-color: {{item.color || '#1a068d'}};" 
					ng-click="loadMenu(item.goto)"
					ng-bind-html="item.text">
				</button>
				
				<a ng-if="item.href" class="link external menu-btn button button-raised button-fill button-round" 
					style="background-color: {{item.color || '#1a068d'}};" 
					ng-href="{{item.href}}"
					ng-bind-html="item.text">
				</a>

			</div>
		</div>
	</div>
</div>